name: qui
services:
  qui:
    container_name: qui
    image: ghcr.io/autobrr/qui:v1.12.0
    ports:
      - 7476:7476
    volumes:
      - /DATA/AppData/$AppID/config:/config
      - /home/$USER/Downloads/qbittorrent:/data/torrents
    environment:
      QUI__TRACKER_ICONS_FETCH_ENABLED: true
    depends_on:
      - qbittorrent
    restart: unless-stopped
    networks:
      - lostinsos-qui-network
    x-casaos:
      envs:
        - container: QUI__TRACKER_ICONS_FETCH_ENABLED
          description:
            en_us: 'Controls whether or not qui grabs the icons for trackers'
      volumes:
        - container: /config
          description:
            en_us: 'Configuration path'
        - container: /data/torrents
          description:
            en_us: 'Download path (Make sure this is the same path as qBittorrent)'
      ports:
        - container: "2283"
          description:
            en_us: 'Container Port: 2283'
  qbittorrent:
    container_name: qbittorrent
    image: linuxserver/qbittorrent:5.1.4
    volumes:
      - /home/$USER/Downloads/qbittorrent:/downloads
      - /DATA/AppData/$AppID/config:/config
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      WEBUI_PORT: ''
      TORRENTING_PORT: ''
    restart: unless-stopped
    networks:
      - lostinsos-qui-network
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: Run 'id [USER]' for the owner of the host volume directories to get the UID to use here.
        - container: PGID
          description:
            en_us: Run 'id [USER]' for the owner of the host volume directories to get the GID to use here.
        - container: TZ
          description:
            en_us: Specify a timezone to use, see this list.
        - container: WEBUI_PORT
          description:
            en_us: For changing the port of the web UI, see below for explanation
        - container: TORRENTING_PORT
          description:
            en_us: For changing the port of tcp/udp connection, see below for explanation
      ports:
        - target: 8080
          published: 8080
          protocol: tcp
        - target: 6881
          published: 6881
          protocol: tcp
        - target: 6881
          published: 6881
          protocol: udp
      volumes:
        - type: bind
          source: /DATA/AppData/$AppID/config
          target: /config
        - type: bind
          source: /home/$USER/Downloads/qbittorrent
          target: /downloads

networks:
  lostinsos-qui-network:
    driver: bridge

x-casaos:
  architectures:
    - amd64
    - arm64
  main: qui
  description:
    en_us: "A fast, modern web interface for qBittorrent. Supports managing multiple qBittorrent instances from a single, lightweight quilication."
  tagline:
    en_us: A fast, modern web interface for qBittorrent
  developer: zze0s
  author: lostinsos
  icon: https://raw.githubusercontent.com/autobrr/qui/5bd2706f479e1f8c90780d579ad0288fc03fd7db/web/public/icons.svg
  thumbnail: "https://raw.githubusercontent.com/autobrr/qui/refs/heads/develop/.github/assets/qui.png"
  title:
    en_us: qui
  category: Web
  port_map: "7476"